---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Sigma Data Club'>
	<header
		class='min-h-screen min-w-full bg-sigmaMain flex flex-col items-center relative'
	>
		<nav>
			<div class='border-t-2 min-w-full mt-2 pt-2'>
				<ul class='flex flex-row justify-center gap-40 text-xl w-full'>
					<li>
						<a href='/'>Home</a>
					</li>
					<li>
						<a href='/about'>About</a>
					</li>
					<li>
						<a href='/blog'>Blog</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class='flex items-center justify-center w-full flex-grow-[1]'>
			<img
				src='/hola-mundo.svg'
				alt='Texto que dice "Hola Mundo!"'
				class='opacity-1 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5/6'
			/>
			<div class='flex text-center w-1/2'>
				<img src='/sigma-logo.svg' alt='Sigma Data Club logo' class='w-full' />
			</div>
		</div>
	</header>
</Layout>
